#slots {
    display: flex;
  }
  
  .slot {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  