table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}
th {
  text-transform: capitalize;
}
td {
  text-align: right;
}
.rowPar{
    background-color: #161313;
    color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion-formulario, .seccion-tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}