*{
    box-sizing: border-box;  
}
table, th, td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td{
    padding: 5px 10px;
    width: 100px;
    height: 100px;
}
h1{
    width: 500px;
    height: 200px;
}